@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>For Confirm your Email address, please check your email!!!</h1>
<div><a asp-action="index" asp-controller="Home">بر گشت به صفحه اول سایت</a></div>

